@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

@font-face {
  font-family: Nunito-Med;
  src: url("/assets/font/Nunito-Med.ttf");
}

@font-face {
  font-family: Nunito-EB;
  src: url("/assets/font/Nunito-Black.ttf");
}

@font-face {
  font-family: Nunito-B;
  src: url("/assets/font/Nunito-Bold.ttf");
}

@font-face {
  font-family: ppM;
  src: url("/assets/font/Poppins-Medium.ttf");
}

@font-face {
  font-family: ppR;
  src: url("/assets/font/Poppins-Regular.ttf");
}

.z-up {
  z-index: 100;
}

.z-down {
  z-index: -2;
}

.z-upper {
  z-index: 50;
  /* color: #2a282d38; */
}

.OX {
  font-family: Oxanium;
}

.N-M {
  font-family: Nunito-Med;
}

.N-EB {
  font-family: Nunito-EB;
}

.N-B {
  font-family: Nunito-B;
}

.ppM {
  font-family: ppM;
}

.ppR {
  font-family: ppR;
}

.hideScrollBar::-webkit-scrollbar {
  width: 3px;
}

.pattern-bg::before {
  content: "";
  width: 100%;
  height: 100vh;
  background-image: url("/assets/img/pattern/grid.svg");
  background-size: 55%;
  position: absolute;
  /* z-index: -1; */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* chat loading animation */
.chatLoading .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: 80px;
  height: 12px;
}
.chatLoading .lds-ellipsis div {
  position: absolute;
  top: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.chatLoading .lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.chatLoading .lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.chatLoading .lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.chatLoading .lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
